
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Manufacturing+Consent&family=Playwrite+HU:wght@100..400&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin:0%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

}
.container{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
}
.num{
    font-size: 3rem;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
}
.incr{
    right: -15%;
    box-shadow: 1px 2px 3px rgb(0,0,0,0.3);
}
.decr{
    left: -15%;
     box-shadow: 1px 2px 3px rgb(0,0,0,0.3);
}